.card:hover .card-content{
    transition: 2s all ease;
    transform: translateY(-10px);
    background-color: white;
    opacity: 1;
    display: inline-block;
    color: black;
    padding-bottom: 20%;
    font-size: 13px;
    
}

.card:hover .card-body{
    opacity: 0;
    transform: translateY(-200px);
}

.card:hover{
    opacity: 0.2;
}

.card{
    opacity: 1;
}

.card-content{
    transform: translateY(150px);
    opacity: 0;
    display: none;
    top : 10px;
    position: absolute;
    padding: 20px;
    color: black;
}