<br><br><br>



<div class="container" style="background-color: #dcdcdc;">

    <h2 style="text-align: center; padding: 20px;">Nos domaines d'activités</h2>
    <br>
    <br><br>
    <div class="row" >
        <div class="col-lg-4 col-sm-12" >
          <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
            <div>
              <img class="card-img-top" src="../../../assets/fond2.jpg" alt="Card image cap">
            </div>
            <div class="card-body" style="background-color: white;">
              <div class="row" style="height: 100%;">
                <div class="col-9">Service Web</div>
                <div class="col-3" ><img style="height: 25px; width: 25px; margin-right: 5px;" src="../../../assets/facebook.png" alt=""></div>
              </div>
            </div>
            <div class="card-content">
                <h4>Titre</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime sapiente reprehenderit 
                  eius neque reiciendis nihil perspiciatis veritatis culpa cumque consectetur cum inventore
                   soluta, placeat dicta dolores? Quaerat nam illo officiis?</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
            <img class="card-img-top" src="../../../assets/fond2.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="row" style="height: 100%;">
                <div class="col-9">Application Web</div>
                <div class="col-3" ><img style="height: 25px; width: 25px; margin-right: 5px;" src="../../../assets/facebook.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
            <img class="card-img-top" src="../../../assets/fond2.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="row" style="height: 100%;">
                <div class="col-9">Application Mobile</div>
                <div class="col-3" ><img style="height: 25px; width: 25px; margin-right: 5px;" src="../../../assets/facebook.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
          <img class="card-img-top" src="../../../assets/fond2.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="row" style="height: 100%;">
              <div class="col-9">Formation</div>
              <div class="col-3" ><img style="height: 25px; width: 25px; margin-right: 5px;" src="../../../assets/facebook.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
          <img class="card-img-top" src="../../../assets/fond2.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="row" style="height: 100%;">
              <div class="col-9">Consultance</div>
              <div class="col-3" ><img style="height: 25px; width: 25px; margin-right: 5px;" src="../../../assets/facebook.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
          <img class="card-img-top" src="../../../assets/fond2.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="row" style="height: 100%;">
              <div class="col-9">Design  UI/UX</div>
              <div class="col-3" ><img style="height: 25px; width: 25px; margin-right: 5px;" src="../../../assets/facebook.png" alt=""></div>
            </div>
        </div>
      </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  </div>
 
  <br>
  <br>
  <br>
  <br>
